@import "starlight-ui-tweaks/styles";

.card {
  border: none;
  border-radius: 1.25rem; /* rounder corners, tune to taste */
  box-shadow: 0 1px 6px rgb(0 0 0 / 0.2); /* light drop shadow */
}


.sidebar-pane a[aria-current="page"] {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    color: #fff;
}



.starlight-aside {
  border-radius: 0.8rem;
}

/* TOC sidebar width */
:root {
  --sl-toc-width: 16rem;
  --sl-color-text-accent: #8b5cf6;
}
:root[data-theme='dark'] .card {
  border: none;
  box-shadow: 0 1px 8px rgb(0 0 0 / 0.4);
}
:root[data-theme='dark'] .starlight-aside {
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.4);
}

/* Remove code block border and round corners */
.expressive-code pre {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.2); /* light drop shadow */
}

/* remove it from the grid flow */

.right-sidebar {
  position: fixed;
  top: 5rem;
  right: 1rem;
  width: auto;
  min-width: 200px;
  max-width: 320px;
  max-height: calc(100vh - 6rem);
  height: auto !important;
  min-height: 0 !important;
  overflow-y: scroll;
  overflow-x: auto;
  background: var(--sl-color-bg);
  border: 0px solid var(--sl-color-hairline);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
:root[data-theme='dark'] .right-sidebar {
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.6);
}

.right-sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1;
}
